<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All result</title>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link th:href="@{css/backToTop.css}" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <a href="/">Back to main</a>
        <h2>All results</h2>
        <p class="lead">Result for the tests</p>
    </div>
    <div class="row d-flex justify-content-center">
        <h3 th:if="${not #lists.isEmpty(allFinishedTest)}">
            <h2>Table of result</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width: 10%" scope="col">ID</th>
                    <th style="width: 15%" scope="col">Student</th>
                    <th style="width: 10%" scope="col">Group</th>
                    <th style="width: 30%" scope="col">Title of test</th>
                    <th style="width: 10%" scope="col">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userWithTest: ${allFinishedTest}" class="table-success">
                    <td th:text="${userWithTest.id}"></td>
                    <td th:text="${userWithTest.firstName} + ' ' + ${userWithTest.lastName}"></td>
                    <td th:text="${userWithTest.group}"></td>
                    <td th:text="${userWithTest.titleOfTest}"></td>
                    <td th:text="${userWithTest.result}"></td>
                </tr>
                </tbody>
            </table>
        </h3>
    </div>
</div>
<div class="py-5 text-center">
    <h3 th:if="${#lists.isEmpty(allFinishedTest)}">
        <h2>Hasn't any finished tests yet.</h2>
    </h3>
</div>
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/backToTop.js}"></script>
</body>
</html>