<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>My settings</title>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <a href="/">Back to main</a>
        <h2>Edit account '<span th:text="${username}"></span>'</h2>
        <p class="lead">Please do logout from account for apply changing</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Changing data</h4>
            <form method="post" action="/edit">
                <div class="mb-3">
                    <label for="idPassword">Password</label>
                    <input class="form-control" type="password" name="password" id="idPassword"
                           placeholder="Input new password"
                           th:value="${user.password}" pattern="^[a-zA-Z0-9-_\.]{2,12}$"
                           oninvalid="setCustomValidity('Password should contain 2-12 characters')"
                           oninput="setCustomValidity('')" required/>
                </div>
                <div class="mb-3">
                    <label for="idFirstName">First name</label>
                    <input class="form-control" type="text" name="firstName" id="idFirstName" placeholder="First name"
                           th:value="${firstName}" required/>
                </div>
                <div class="mb-3">
                    <label for="idLastName">Last name</label>
                    <input class="form-control" type="text" name="lastName" id="idLastName" placeholder="Last name"
                           th:value="${lastName}"
                           required/>
                </div>
                <div class="mb-3">
                    <label for="idGroup">Title of firm</label>
                    <input class="form-control" type="text" name="group" id="idGroup" placeholder="Example: PS 4-1"
                           th:value="${group}" pattern="^[A-Z]{2}\s[0-9]{1}-[0-9]{1}$"
                           required/>
                </div>
                <div class="mb-3">
                    <label for="idEmail">E-mail</label>
                    <input class="form-control" type="text" name="email" id="idEmail" placeholder="Email"
                           th:value="${email}" required/>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Change data</button>
            </form>
            <br/>
        </div>
    </div>
</div>
</body>
</html>