<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Psychological Tests</title>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link th:href="@{css/homePage.css}" rel="stylesheet">
    <link th:href="@{css/backgrounds.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/cover.css}" rel="stylesheet">
</head>
<body class="text-center defaultPageBgImage">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <nav class="nav nav-masthead justify-content-center">
            <div class="dropdown nav-link active">
                <p th:text="${username}"></p>
                <div class="dropdown-content">
                    <a class="nav-link active" href="/account">Finished tests</a>
                    <a class="nav-link active" href="/edit">Edit account</a>
                    <a class="nav-link active" href="/logout">Logout</a>
                </div>
            </div>
            <a th:if="${role}==ADMIN" class="nav-link active" href="/admin">Manipulate with tests [ADMIN]</a>
            <a th:if="${role}==ADMIN" class="nav-link active" href="/getAllResult">All finished tests [ADMIN]</a>
        </nav>
    </header>
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Psychological Tests</h1>
        <p class="lead">Hi, <span th:text="${firstName}"></span>! Please choose test</p>
        <p class="lead">
            <a th:each="test: ${tests}" th:href="@{${test.titleOfTest}}" class="btn btn-lg btn-secondary"
               th:text="${test.titleOfTest}"></a>
        </p>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>&copy; 2019 Psychological Tests for <a href="https://www.polytechnic.ck.ua/">Cherkasy Polytechnic
                Tekhnikum</a>, by <a
                    href="https://www.facebook.com/andrey.reva">Andrii Reva</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>