<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i}"
          rel="stylesheet">
    <link th:href="@{css/mainRegistration.css}" rel="stylesheet" media="all">
    <link th:href="@{css/backgrounds.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="registrationBgImage">
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <a style="text-align: center" href="/login">Already registered?</a>
                    <h2 class="title">Create account</h2>
                    <span th:if="${userRegistrationResult}">
                        <ul th:each="error: ${userRegistrationResult.errors}">
                            <li th:text="${error}"></li>
                        </ul>
                    </span>
                    <form method="post" action="/registration">
                        <div class="input-group">
                            <input class="input--style-1" type="text" name="username" placeholder="Username"
                                   th:value="${userRegistrationForm.username}" pattern="^[a-zA-Z0-9-_\.]{3,12}$"
                                   oninvalid="setCustomValidity('Username should contain 4-12 characters')"
                                   oninput="setCustomValidity('')" required/>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="password" name="password" placeholder="Password"
                                   th:value="${userRegistrationForm.password}" pattern="^[a-zA-Z0-9-_\.]{5,12}$"
                                   oninvalid="setCustomValidity('Password should contain 5-12 characters')"
                                   oninput="setCustomValidity('')" required/>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="password" name="passwordConfirmation"
                                   placeholder="Password confirmation"
                                   th:value="${userRegistrationForm.passwordConfirmation}"
                                   oninvalid="setCustomValidity('Input password confirmation')"
                                   oninput="setCustomValidity('')" required/>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" name="firstName" placeholder="First name"
                                   th:value="${userRegistrationForm.firstName}"
                                   oninvalid="setCustomValidity('Input first name')" oninput="setCustomValidity('')"
                                   required/>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" name="lastName" placeholder="Last name"
                                   th:value="${userRegistrationForm.lastName}"
                                   oninvalid="setCustomValidity('Input last name')" oninput="setCustomValidity('')"
                                   required/>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" name="group" placeholder="Group"
                                   th:value="${userRegistrationForm.group}" pattern="^[A-Z]{2}\s[0-9]{1}-[0-9]{1}$"
                                   oninvalid="setCustomValidity('Input study of group, like that: PS 4-1')"
                                   oninput="setCustomValidity('')"
                                   required/>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="email" name="email" placeholder="Email"
                                   th:value="${userRegistrationForm.email}"
                                   oninvalid="setCustomValidity('Input e-mail')" oninput="setCustomValidity('')"
                                   required/>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>